<s-section padding="none">
  <s-box background="strong" paddingBlock="large-100" paddingInline="large-100">
    <s-stack direction="inline" alignItems="center" gap="small-200">
      <img src="https://bucket.alfred.uptek.com/logo-settings.png" alt="Alfred logo" style="width: 22px; height: 22px; border-radius: 4px;">
      <s-heading>Alfred for Shopify</s-heading>
    </s-stack>
  </s-box>
  <s-divider color="strong"></s-divider>
  <nav aria-label="Shop settings menu">
    <ul>
      <li>
        <a type="button" data-page="settings" tabindex="0">
          <s-icon type="settings"></s-icon>
          <span>Settings</span>
        </a>
      </li>
      <li>
        <a type="button" data-page="changelog" tabindex="0">
          <s-icon type="clock"></s-icon>
          <span>Changelog</span>
        </a>
      </li>
    </ul>
  </nav>
</s-section>
